body {
  background-image: url('../media/windows-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
img {
    display: block;
    margin-top: 10px;
}
.onclick {
  opacity: 0.7;
}
